* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #111;
  overflow-x: hidden;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(255, 217, 0, 0.5);
}
